<%= javascript_include_tag "sign_up" %>
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Sign Up</li>
</ol>
<h2 style="text-align: center">Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.email_field :email, class: "form-control", autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-sm-2 control-label" %>
      <!--
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>-->
      <div class="col-sm-10">
        <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "6 characters minimum" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :confirmation, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
        <!--<div style="margin-top: 20px">
            <% for role in User::ROLES %>
                <%= check_box_tag "user[roles][#{role}]", role, role==:user ? :true : @user.roles.include?(role), {:name => "user[roles][]"} %>
                <%= label_tag "user_roles_#{role}", role.to_s.humanize, style: "margin-right:20px" %>
            <% end %>
            <%= hidden_field_tag "user[roles][]", "" %>
          </div>-->
      </div>
    </div>

    <div class="form-group">
      <%= f.label :gender, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <%= f.label :male %>
            <%= f.radio_button :gender, "male" %>
          </label>
          <label class="btn btn-primary">
            <%= f.label :female %>
            <%= f.radio_button :gender, "female" %>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :first_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :first_name, class: "form-control", autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :middle_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :middle_name, class: "form-control", autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :last_name, class: "form-control", autofocus: true %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :date_of_birth, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <div class='input-group date' id='datetimepicker1'>
          <%= f.text_field :date_of_birth, class: "form-control" %>
          <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
              </span>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Sign up", class: "btn btn-default" %>
      </div>
    </div>
    </div>

<% end %>
<%= render "devise/shared/links" %>
