
<h4>Search Result: <%= @results.count if @result%> </h4>
<table class="table">
  <thead>
    <tr>
      <td><%= sort_link "Title", "title" %></td>
      <td><%= sort_link "Authors", "name" %></td>
      <td><%= sort_link "Year", "year" %></td>
      <td><%= sort_link "Source", "source_title" %></td>
      <td><%= sort_link "Research Aim", "research_aim"%></td>
      <td><%= sort_link "Publisher", "publisher"%></td>
      <td><%= sort_link "Published At", "published_time"%></td>
      <td><%= sort_link "DOI", "doi"%></td>
    </tr>
  </thead>
  <tbody>
    <% @results.each_with_index do |evidence, index| %>
      <tr>
        <td> <%= evidence.title %> </td>
        <td> <%= evidence.authors %>  </td>
        <td> <%= evidence.year %> </td>
        <td> <%= evidence.source_title %>  </td>
        <td> <%= evidence.research_aim %> </td>
        <td> <%= evidence.publisher %> </td>
        <td> <%= evidence.published_time.strftime("%v") %> </td>
        <td> <%= evidence.DOI %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
