
<%= javascript_include_tag 'search_form'%>

<% init = true %>
<%= bootstrap_nested_form_for(@search,layout: :inline, url: {action: "show"}, :html => { :method => 'GET',:class => "search_form" }) do |f| %>

    <%=f.fields_for :search_fields,nil,{ :class => 'temperary'} do |builder|  %>
        <div class ="search_field">

          <%unless init == true %>
              <%= builder.select :op1,
                                 options_for_select([["OR", "or" ], ["AND", "and"]],["OR", "or" ]),
                                 {hide_label: true }
                  %>
          <%end%>

          <%= builder.select :field,
                             options_for_select([["Title", "title" ], ["Author", "authors"],["Journal","journal"]],["Title", "title" ]),
                             {hide_label: true}
          %>

          <%= builder.select :op2,
                             options_for_select([["Contain", "ILIKE" ], ["Does not contain", "NOT ILIKE"]],["Contain", "ILIKE" ]) ,
                             {hide_label: true}
          %>



          <%= builder.text_field :content,hide_label: true,:autofocus=>true %>


          <% unless init == true %>
              <%= builder.link_to_remove "Remove Field",:class => 'btn btn-danger btn-sm'%>
          <%end%>
          <% init = false%>
        </div>
    <% end %>

    <div>
      <%= f.link_to_add "Add a Field", :search_fields,:class => 'btn btn-info btn-sm' %>
      <%= f.submit "Search", :class => 'btn btn-info btn-sm' %>
    </div>
<% end %>
