
<div class="container">
<h1>Search Result</h1>
  <hr>
<%= render 'search_form'%>


<table class="table">
  <thead>
  <tr>
    <th>Paper status</th>
    <th>Category</th>
    <th>Authors</th>
    <th>Title</th>
  </tr>
  </thead>

  <tbody>
  <% @results.each do |evidence| %>
      <tr>
        <td><%= evidence.status %></td>
        <td><%= evidence.category%></td>
        <td><%= evidence.evidence_source_authors.join(",") %></td>
        <td><%= evidence.source_title %></td>
      </tr>
  <% end %>
  </tbody>
</table>
  </div>
