
<div class="container">
<h1>Search Result</h1>
<%= render 'search_form'%>


<table>
  <thead>
  <tr>
    <th>Paper</th>
    <th>User</th>
    <th>Paper status</th>
    <th>Moderator</th>
    <th>Moderated time</th>
    <th>Analyst</th>
    <th>Analysed time</th>
    <th>Authors</th>
    <th>Title</th>
    <th>Journal</th>
    <th>Volume</th>
    <th>Pages</th>
    <th>Release date</th>
    <th>Credibility rate</th>
    <th>Research metrix</th>
    <th>Research aim</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.paper_id %></td>
        <td><%= paper.user_id %></td>
        <td><%= paper.paper_status %></td>
        <td><%= paper.moderator_id %></td>
        <td><%= paper.moderated_time %></td>
        <td><%= paper.analyst_id %></td>
        <td><%= paper.analysed_time %></td>
        <td><%= paper.authors %></td>
        <td><%= paper.title %></td>
        <td><%= paper.journal %></td>
        <td><%= paper.volume %></td>
        <td><%= paper.pages %></td>
        <td><%= paper.release_date %></td>
        <td><%= paper.credibility_rate %></td>
        <td><%= paper.research_metrix %></td>
        <td><%= paper.research_aim %></td>
      </tr>
  <% end %>
  </tbody>
</table>
  </div>