<%= form_for(research_method) do |f| %>
  <% if research_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(research_method.errors.count, "error") %> prohibited this research_method from being saved:</h2>

      <ul>
      <% research_method.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :research_method_id %>
    <%= f.number_field :research_method_id %>
  </div>

  <div class="field">
    <%= f.label :method_name %>
    <%= f.text_area :method_name %>
  </div>

  <div class="field">
    <%= f.label :method_status %>
    <%= f.number_field :method_status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
