<p id="notice"><%= notice %></p>

<p>
  <strong>Participate:</strong>
  <%= @participant.participate_id %>
</p>

<p>
  <strong>Participate name:</strong>
  <%= @participant.participate_name %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
