<%= form_for(evidence_item) do |f| %>
  <% if evidence_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evidence_item.errors.count, "error") %> prohibited this evidence_item from being saved:</h2>

      <ul>
      <% evidence_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :evidence_id %>
    <%= f.number_field :evidence_id %>
  </div>

  <div class="field">
    <%= f.label :benefit_comeout %>
    <%= f.text_area :benefit_comeout %>
  </div>

  <div class="field">
    <%= f.label :context %>
    <%= f.text_area :context %>
  </div>

  <div class="field">
    <%= f.label :confidence_rate %>
    <%= f.text_area :confidence_rate %>
  </div>

  <div class="field">
    <%= f.label :integrity %>
    <%= f.text_area :integrity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
