<tr class="evidence_source">
  <td> <%= link_to evidence_source.title, evidence_source.URL %> </td>
  <td> <%= evidence_source.authors %>  </td>
  <td> <%= evidence_source.year %> </td>
  <td> <%= evidence_source.source_title %>  </td>
  <td> <%= evidence_source.research_aim %> </td>
  <td> <%= evidence_source.publisher %> </td>
  <td> <%= evidence_source.published_time %> </td>
  <td> <%= evidence_source.DOI %> </td>
</tr>
