<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <script>
            var _evidence_item_modal = function(esid, eiid, obj) {
                console.log("set evidence-item-modal");
                
                $('#evidence_item_esid').val(esid);
                $('#evidence_item_eiid').val(eiid);
                
                $('input:text[name^="evidence_item"]').val('');
                $('textarea[name^="evidence_item"]').val('');
                $('input:checkbox[name^="evidence_item[method]"]').prop('checked', false);
                
                
                $('[name="evidence_item[draft]"]').parent().show();
                
                if (eiid < 0) {
                    $('#evidence-item-new-header').show();
                    $('#evidence-item-edit-header').hide();
                    
                } else {
                    $('#evidence-item-new-header').hide();
                    $('#evidence-item-edit-header').show();
                    
                    $('#evidence_item_benefit').val(obj['benefit']);
                    $('#evidence_item_result').val(obj['result']);
                    $('#evidence_item_where').val(obj['ctx_where']);
                    $('#evidence_item_what').val(obj['ctx_what']);
                    $('#evidence_item_when').val(obj['ctx_when']);
                    $('#evidence_item_whom').val(obj['ctx_who']);
                    $('#evidence_item_how').val(obj['ctx_how']);
                    
                    $('#evidence_item_integrity').val(obj['integrity']);
                    
                    $('#evidence_item_rating').val(obj['rating']); // FIXME
                    
                    console.log(obj['se_methods']);
                    $.each(obj['se_methods'], function(index){
                        var mid = obj['se_methods'][index];
                        var selector = '#evidence-item-method-' + mid;
                        $(selector).prop('checked', true);
                    });
                    
                    if (obj["status"] !== "DRAFT") {
                        $('[name="evidence_item[draft]"]').parent().hide();
                    }
                }
                
                // TODO object
            };
        </script>
        
        <div class="modal-header" style="padding:35px 50px;">
            <h4 id="evidence-item-new-header"><span class="glyphicon glyphicon-plus"></span> NEW EVIDENCE ITEM</h4>
            <h4 id="evidence-item-edit-header"><span class="glyphicon glyphicon-edit"></span> EDIT EVIDENCE ITEM</h4>
        </div>
    
        <div class="modal-body" style="padding:40px 50px;">
            <%= bootstrap_form_for :evidence_item, url: evidence_sources_evidence_item_path do |f| %>
                <input type="hidden" id="evidence_item_esid" name="evidence_item[esid]" value=""/>
                <input type="hidden" id="evidence_item_eiid" name="evidence_item[eiid]" value=""/>
                <%= f.text_area :benefit %>
                <%= f.text_area :result %>
                <div id="new_evidence_item_context">
                    <%= f.text_field :where %>
                    <%= f.text_field :when %>
                    <%= f.text_field :how %>
                    <%= f.text_field :whom %>
                    <%= f.text_field :what %>
                </div>
                
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label class="control-label" for="evidence_source_integrity">Integrity</label>
                        <select id="evidence_item_integrity" name="evidence_item[integrity]" class="form-control text-center">
                            <% [1,2,3,4,5].each do |i| %>
                                <option value="<%=i%>"><%=i%></option>
                            <% end %>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label" for="evidence_source_rating">Integrity</label>
                        <select id="evidence_item_rating" name="evidence_item[rating]" class="form-control text-center">
                            <% [1,2,3,4,5].each do |i| %>
                                <option value="<%=i%>"><%=i%></option>
                            <% end %>
                        </select>
                    </div>
                </div>
                
                <hr/>
                <div class="form-group">
                    <label class="control-label">Software Development Methods</label>
                    <div class="row">
                        <% SeMethod.all.each do |m| %>
                        <div class="check_box col-sm-4">
                            <label for="evidence-item-method-<%=m.id%>">
                                <input type="checkbox" value="<%=m.method_name%>" name="evidence_item[method][<%=m.id%>]" id="evidence-item-method-<%=m.id%>">
                                <%= m.method_name %>
                            </label>
                        </div>
                        <% end %>
                    </div>
                </div>
                <hr/>
    
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success" name="evidence_item[submit]">
                            <span class="glyphicon glyphicon-ok"></span>
                            SAVE
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-warning" name="evidence_item[draft]">
                            <span class="glyphicon glyphicon-save"></span>
                            SAVE DRAFT
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-danger" data-dismiss="modal">
                            <span class="glyphicon glyphicon-trash"></span>
                            DISCARD
                        </button>
                    </div>
                 </div>
    
            <% end %>
        </div>
        
        <!--
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
        -->
    </div>
  
</div>
