<div class="container">
    <script>
        $().ready(function(){
            console.log("page load down");
            $('#new-evidence-item').click(function(){
                console.log("to create new evience item!");
                _evidence_item_modal(<%=@evidence_source.id%>, -1, null);
                $('#new-evidence-item-modal').modal();
            });
        });
    </script>
    <div class="row">
        <div class="col-sm-10"><h2>EDIT EVIDENCE SOURCE</h2></div>
        <div class="col-sm-2" style="padding-top:2rem">
            <button class="btn btn-danger" id="btn-finish-editing"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;FINISH EDITING</button>
            <script>
                $().ready(function(){
                    $('#btn-finish-editing').click(function(){
                        console.log("to finish editing ....");
                        var draft = false;
                        $.each(_evidence_item_list, function(eiid) {
                            console.log(_evidence_item_list[eiid]['status']);
                            if (_evidence_item_list[eiid]['status'] == 'DRAFT') {
                                $('#message').html('<h3>Cannot publish. Draft evidence item exists!<h3>');
                                $('#message-box').modal();
                                console.log("DRAFT FOUND!");
                                draft = true;
                                return false;
                            }
                        });

                        if (draft == false) {
                            if ($('#research-aim-content').text().length == 0) {
                                $('#message').html('<h3>Cannot publish.</h3><h3>No research question(aim) entered!<h3>');
                                $('#message-box').modal();
                                console.log("NO QUESTION(AIM) ENTERED!");
                                return false;
                            } else {
                                $('#confirm-publish-box').modal();
                                return true;
                            }
                        }
                    });
                });
            </script>
        </div>
    </div>
    <div>
        <table class="table table-stripped">
            <tr>
                <th>title</th>
                <td><%= @evidence_source.title %></td>
            </tr>
            <tr>
                <th>misc</th>
                <td> ID:<%=@evidence_source.id%> | <%=@evidence_source.status%>&nbsp;
                        | category:<%=@evidence_source.category%>&nbsp;
                        | year:<%=@evidence_source.year%>&nbsp;
                        | volume:<%=@evidence_source.volume_number%>&nbsp;
                        | issue:<%=@evidence_source.issue_number%>&nbsp;
                        | page:<%=@evidence_source.page_str%>&nbsp;
                </td>
            </tr>
            <tr>
                <th>authors</th>
                <td>
                    <% @evidence_source.evidence_source_authors.each do |author| %>
                        <%=author.name_abbr%> |
                    <% end %>
                </td>
            </tr>
            <tr>
                <th>source</th>
                <td><%=@evidence_source.source_title%></td>
            </tr>
            <tr><th>DOI</th><td><%=@evidence_source.DOI%></td></tr>
            <tr><td></td><td></td></tr>
        </table>
    </div>
    <hr/>
    <div>
        <h2>Research Design</h2>
        <button id="btn-edit-research-design" class="btn btn-warning">
            <span class="glyphicon glyphicon-edit"></span>&nbsp;EDIT&nbsp;
        </button>
        
        <table class="table table-stripped">
            <script>
                var _research_design = [
                    <% rd_list = ResearchDesign.where(evidence_source_id: @evidence_source.id) %>
                    <% rd_list.each do |rd| %>
                    { "category": "<%= rd.category %>", "ref_id": "<%= rd.ref_id %>", "text": "<%= rd.ref_text %>"},
                    <% end %>
                ];
                $().ready(function(){
                    $.each(_research_design, function(index){
                        obj = _research_design[index];
                        console.log(obj);
                        if (obj['category'] === 'METHOD') {
                            var d = $('#research-design-table-methods-div');
                            d.html(d.html() + '&nbsp;<kbd>' + obj['text'] + '</kbd>&nbsp;');
                        } else if (obj['category'] === 'PARTICIPANT') {
                            var d = $('#research-design-table-participants-div');
                            d.html(d.html() + '&nbsp;<kbd class="text-capitalize">' + obj['text'] + '</kbd>&nbsp;');
                        } else if (obj['category'] === 'METRIC') {
                            var t = $('#research-design-table-metric-table');
                            $('<p class="text-primary">' + obj['text'] + '</p>').appendTo(t);
                        }
                    });
                    
                    $('#btn-edit-research-design').click(function(){
                        var _research_desing_aim = "<%= @evidence_source.research_aim %>";
                        _reset_edit_research_design_form(_research_desing_aim, _research_design);
                        $('#edit-research-design-modal').modal();
                    });
                });
            </script>
            <tr>
                <th width="20%">Question (Aim)</th>
                <td><p class="text-warning" id="research-aim-content"><%= @evidence_source.research_aim %></p></td>
            </tr>
            <tr>
                <th>Method(s)</th>
                <td><div id="research-design-table-methods-div"></div></td>
            </tr>
            <tr>
                <th>Participants</th>
                <td><div id="research-design-table-participants-div"></div></td>
            </tr>
            <tr>
                <th>Metric(s)</th>
                <td>
                    <div id="research-design-table-metric-table">
                    </div>
                </td>
            </tr>
            <tr><th></th><td></td></tr>
        </table>
    </div>
    <div class="modal fade" id="edit-research-design-modal" role="dialog" data-backdrop="static">
        <%= render 'edit_research_design' %>
    </div>
    <hr/>
    <div>
        <div><h2>Evidence Items</h2><button id="new-evidence-item" class="btn btn-success">Create New</button></div>
        <div class="modal fade" id="new-evidence-item-modal" role="dialog" data-backdrop="static">
            <%= render 'new_evidence_item' %>
        </div>
        <hr/>
        <div class="list-group">
            <% g2ei_list = G2EvidenceItem.where(evidence_source_id: @evidence_source.id) %>
            <script>
                var _evidence_item_list = {
                    <% g2ei_list.each do |ei| %>
                        <%= ei.id %>: {
                            "status": "<%= ei.status %>", "benefit": "<%= ei.benefit_under_test %>", "result": "<%= ei.result %>",
                            "ctx_what": "<%= ei.ctx_what %>", "ctx_when": "<%= ei.ctx_when %>", "ctx_where": "<%= ei.ctx_where %>",
                            "ctx_who": "<%= ei.ctx_who %>", "ctx_how": "<%= ei.ctx_how %>",
                            "integrity": "<%=ei.integrity%>", "rating_tenth": "<%= ei.rating_tenth %>", "rating": "<%= ei.rating_tenth.to_i / 10 %>",
                            "se_methods": [<% ei.se_methods.each do |m| %><%= m.id %>,<% end %>],
                        },
                    <% end %>
                };
                    
                $().ready(function(){
                    $('[data-serler-ei]').click(function(event){
                        var btn = $(event.toElement);
                        var action = btn.data('serler-ei');
                        var esid = <%= @evidence_source.id %>;
                        var eiid = btn.parents('div[data-serler-eiid]').data('serler-eiid');
                        
                        console.log("wwwwwwwwwwwwwwwwwwwww");
                        console.log(btn);
                        console.log(action);
                        console.log(esid);
                        console.log(eiid);
                        
                        if (action == "edit") {
                            _evidence_item_modal(esid, eiid, _evidence_item_list[eiid]);
                            $('#new-evidence-item-modal').modal();
                            
                        } else if (action == "x") {
                            console.log("to delete evidence item: " + eiid);
                            $('#btn-delete-evidence-item').data("serler-eiid", eiid);
                            $('#confirm-box').modal();
                        } else {
                            
                        }
                    });
                });
            </script>
            
            <% g2ei_list.each do |ei| %>
            <% draft = ei.status == 'DRAFT' %>
            <div class="list-group-item" data-serler-eiid="<%=ei.id%>">
                <div class="row text-right text-uppercase">
                    <dov class="col-sm-6"></dov>
                    <div class="col-sm-2"><em>Integrity: <span class="badge"><%= ei.integrity %></span></em></div>
                    <div class="col-sm-2"><em>Rating: <span class="badge"><%= ei.rating_tenth.to_i / 10 %></span></em></div>
                    <!--<div class="col-sm-1">-->
                    <!--    <code><em><%= draft ? "DRAFT"  : "" %></em></code>-->
                    <!--</div>-->
                    <div class="col-sm-2">
                        <button class="btn <%= draft ? "btn-primary" : "btn-warning" %> btn-xs" data-serler-ei="edit">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;EDIT&nbsp;</button>
                        <button class="btn <%= draft ? "btn-warning" : "btn-danger" %> btn-xs" data-serler-ei="x">&nbsp;X&nbsp;</button>
                        <!--<code><em><%= draft ? "DRAFT"  : "" %></em></code>-->
                    </div>
                </div><div>&nbsp;</div>
                <div>
                    <table class="table table-striped">
                        <tr>
                            <th width="20%">Benefit under test <code><em> <%= draft ? "DRAFT" : "" %></em></code></th>
                            <td><%=ei.benefit_under_test%></td>
                            <td></td>
                            <td>
                                
                            </td>
                        </tr>
                        <tr><th>Result</th><td><%=ei.result%></td><td></td><td></td></tr>
                        <tr><th>Context</th><td>
                            | What: <%=ei.ctx_what%> | Where: <%=ei.ctx_where%> | When: <%=ei.ctx_when%> | How: <%=ei.ctx_how%>| Who: <%=ei.ctx_who%> |
                        </td><td></td><td></td></tr>
                        <tr><th>Methods</th><td>
                            <% ei.se_methods.each do |m|%>&nbsp;<kbd><%=m.method_name%></kbd>&nbsp;<%end%>
                        </td></tr>
                        <tr><th></th><td></td><td></td><td></td></tr>
                    </table>
                </div>
            </div>
            <% end %>
        </div>
    </div>
    
    <hr/>
    <div class="modal fade" id="confirm-box" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                -->
                <div class="modal-body">
                    <div class="text-center"><h3>Sure to delete the evidence item?</h3></div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-danger btn-block" id="btn-delete-evidence-item" data-serler-eiid="-1">DELETE</button>
                            <script>
                                $().ready(function(){
                                    $('#btn-delete-evidence-item').click(function(){
                                        console.log(this);
                                        console.log($(this).data("serler-eiid"));
                                        
                                        var eiid = $(this).data("serler-eiid");
                                        
                                        $.ajax({
                                            url: "/evidence_sources/<%=@evidence_source.id%>/g2_evidence_items/" + eiid,
                                            // <%= evidence_source_g2_evidence_item_path @evidence_source.id, 0 %>
                                            type: "DELETE",
                                            
                                            success: function() {
                                                console.log('delete success');
                                            },
                                            error: function() {
                                                console.log('delete error');
                                            },
                                            complete: function() {
                                                location.reload();
                                            },
                                        });
                                        return true;
                                    });
                                });
                            </script>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-default btn-block" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
          </div>
        </div>
    </div>
</div>

<div class="modal fade" id="message-box" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <p id="message" class="text-center">
          Some text in the modal.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="confirm-publish-box" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <p id="message" class="text-center">
          <h3 class="text-center">Sure to publish?</h3>
      </p>
    </div>
    <div class="modal-footer">
      <div class="row">
          <div class="col-sm-6">
              <button class="btn btn-danger btn-block" id="btn-confirm-publish">PUBLISH</button>
          </div>
          <div class="col-sm-6">
              <button class="btn btn-default btn-block" data-dismiss="modal">CANCEL</button>
          </div>
          <script>
              $().ready(function(){
                  $('#btn-confirm-publish').click(function(){
                      console.log("TO PUBLISHS ....");
                      
                      $.ajax({
                        url: '/evidence_sources/<%= @evidence_source.id %>',
                        type: 'PATCH',
                        data: {status: 'PUBLISHED'},
                        success: function() {
                            console.log('patch success');
                            $('#message').text('DONE.');
                            $('#message-box').modal();

                            window.location.replace("/evidence_sources/accepted");
                        },
                        error: function() {
                            console.log('ERROR.');
                            $('#message').text('Please refresh the page.');
                            $('#message-box').modal();
                        },
                        complete: function() {
                            console.log('patch complete');
                            $('#message').text('Please refresh the page.');
                            $('#message-box').modal();
                        }
                    });
                  });
              });
          </script>
      </div>
    </div>
  </div>
</div>
</div>
