
<div class="container"
<div class="row">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SERLLER</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">User
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><%= link_to 'LIST OF MY SUBMISSIONS', evidence_sources_my_submissions_path, target: :_blank %></li>
        <li><%= link_to 'LIST OF PUBLISHED', evidence_sources_published_path, target: :_blank %></li>
        <li><%= link_to 'NEW EVIDENCE SOURCE', new_evidence_source_path, target: :_blank %></li>
        <a>SEARCH</a><br/>

          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li> 
        </ul>
      </li>
      <li><a href="#">Page 2</a></li> 
      <li><a href="#">Page 3</a></li> 
    </ul>
  </div>
</nav>


</div>

<div class="row">
<div class="col-md-2">
</div>

<div class="Col-md-6">
<h1>Welcome</h1>
<p>user-id: <%= @the_user.id %></p>
<p>user-email: <%= @the_user.email %></p>

</div>
</div>

</div>





<h2>links for user</h2>

<hr/>

<h2>links for moderator</h2>
<%= link_to 'LIST OF NEW SUBMITTED', evidence_sources_new_submitted_path, target: :_blank %><br/>
<hr/>

<h2>links for analyst</h2>
<%= link_to 'LIST OF ACCEPTED', evidence_sources_accepted_path, target: :_blank %><br/>
<hr/>

<h2>links for admistrator</h2>
<%= link_to 'ALL EVIDENC SOURCES', evidence_sources_all_path, target: :_blank %><br/>
<%= link_to 'LIST OF REJECTED', evidence_sources_rejected_path, target: :_blank %><br/>
<hr/>
</div>
