<p id="notice"><%= notice %></p>

<p>
  <strong>Method:</strong>
  <%= @se_method.method_id %>
</p>

<p>
  <strong>Method name:</strong>
  <%= @se_method.method_name %>
</p>

<%= link_to 'Edit', edit_se_method_path(@se_method) %> |
<%= link_to 'Back', se_methods_path %>
